.App {
  text-align: center;
}

.wrapped-label {
  white-space: pre-line;
}

.btn-wide {
  min-width: 180px;
}

.wide-button {
  width: 250px; /* or any other width */
  /* white-space: nowrap; Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
